<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments-Admin::head"></head>
<body class="no-skin">
<div th:replace="admin/fragments-Admin::header"></div>
<div class="main-container" id="main-container">
  <script type="text/javascript">
    try { ace.settings.check('main-container', 'fixed'); } catch (e) {}
  </script>
  <div th:replace="admin/fragments-Admin::sidebar"></div>
  <div class="main-content">
    <div th:replace="admin/fragments-Admin::main-content-inner"></div>

    <!-- Sửa ở đây -->
    <form action="/admin/category/add" method="post">
      <div class="form-row">
        <div class="col">
          <label for="categoryName">Loại sản phẩm:</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="categoryName" name="categoryName" required>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
      </div>
    </form>





    <!-- Kết thúc sửa ở đây -->

  </div>
</div>
<div th:replace="admin/fragments-Admin::footer"></div>
<div th:replace="admin/fragments-Admin::script"></div>
</body>
</html>
