<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:fragment="header">-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="description" content="Ogani Template">-->

<!--    <meta name="keywords" content="Ogani, unica, creative, html">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>IMusic</title>-->

<!--    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">-->

<!--    &lt;!&ndash; Css Styles &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--    &lt;!&ndash; Page Preloder &ndash;&gt;-->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Humberger Begin &ndash;&gt;-->
<!--    <div class="humberger__menu__overlay"></div>-->
<!--    <div class="humberger__menu__wrapper">-->
<!--        <div class="humberger__menu__logo">-->
<!--            <a href="#"><img src="../static/img/logo.png" alt=""></a>-->
<!--        </div>-->
<!--        <div class="humberger__menu__cart">-->
<!--            <ul>-->
<!--                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>-->
<!--                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>-->
<!--            </ul>-->
<!--            <div class="header__cart__price">item: <span>$150.00</span></div>-->
<!--        </div>-->
<!--        <div class="humberger__menu__widget">-->
<!--            <div class="header__top__right__language">-->
<!--                <img src="../static/img/language.png" alt="">-->
<!--                <div>English</div>-->
<!--                <span class="arrow_carrot-down"></span>-->
<!--                <ul>-->
<!--                    <li><a href="#">Spanis</a></li>-->
<!--                    <li><a href="#">English</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="header__top__right__auth">-->
<!--                <a href="#"><i class="fa fa-user"></i> Login</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <nav class="humberger__menu__nav mobile-menu">-->
<!--            <ul>-->
<!--                <li class="active"><a href="index.html">Home</a></li>-->
<!--                <li><a href="shop-grid.html">Shop</a></li>-->
<!--                <li><a href="#">Pages</a>-->
<!--                    <ul class="header__menu__dropdown">-->
<!--                        <li><a href="shop-details.html">Shop Details</a></li>-->
<!--                        <li><a href="shoping-cart.html">Shoping Cart</a></li>-->
<!--                        <li><a href="checkout.html">Check Out</a></li>-->
<!--                        <li><a href="blog-details.html">Blog Details</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a href="blog.html">Blog</a></li>-->
<!--                <li><a href="contact.html">Contact</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--        <div id="mobile-menu-wrap"></div>-->
<!--        <div class="header__top__right__social">-->
<!--            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--            <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--            <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
<!--        </div>-->
<!--        <div class="humberger__menu__contact">-->
<!--            <ul>-->
<!--                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>-->
<!--                <li>Free Shipping for all Order of $99</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Humberger End &ndash;&gt;-->

<!--     &lt;!&ndash; Header Section Begin &ndash;&gt;-->
<!--     <header class="header">-->
<!--        <div class="header__top">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-6 col-md-6">-->
<!--                        <div class="header__top__left">-->
<!--                            <ul>-->
<!--                                <li><i class="fa fa-envelope"></i>Imusicstudio@gmail.com</li>-->
<!--                                &lt;!&ndash; <li>Miễng phí giao hàng cho đơn hàng trên 2.000.000 VNĐ</li> &ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 col-md-6">-->
<!--                        <div class="header__top__right">-->
<!--                            <div class="header__top__right__social">-->
<!--                                <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; <div class="header__top__right__language">-->
<!--                                <img src="img/language.png" alt="">-->
<!--                                <div>English</div>-->
<!--                                <span class="arrow_carrot-down"></span>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Spanis</a></li>-->
<!--                                    <li><a href="#">English</a></li>-->
<!--                                </ul>-->
<!--                            </div> &ndash;&gt;-->
<!--                            <div class="header__top__right__auth">-->
<!--                                <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-2">-->
<!--                    <div class="header__logo">-->
<!--                        <a href="index.html"><img th:src="@{/img/logoIMusic.png}" alt=""></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-7">-->
<!--                    <nav class="header__menu">-->
<!--                        <ul>-->
<!--                            <li class="active"><a href="index.html">TRANG CHỦ</a></li>-->
<!--                            <li><a href="shop-grid.html">SẢN PHẨM</a></li>-->
<!--                            <li><a href="shoping-cart.html">THANH TOÁN</a>-->
<!--                                &lt;!&ndash; <ul class="header__menu__dropdown">-->
<!--                                    <li><a href="./shop-details.html">Shop Details</a></li>-->
<!--                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>-->
<!--                                    <li><a href="./checkout.html">Check Out</a></li>-->
<!--                                    <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                                </ul> &ndash;&gt;-->
<!--                            </li>-->
<!--                            <li><a href="blog.html">TIN TỨC</a></li>-->
<!--                            <li><a href="contact.html">LIÊN HỆ</a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="header__cart">-->
<!--                        <ul>-->
<!--                            &lt;!&ndash; <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li> &ndash;&gt;-->
<!--                            <li><a href="shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>-->
<!--                        </ul>-->
<!--                        <div class="header__cart__price">item: <span>$150.00</span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="humberger__open">-->
<!--                <i class="fa fa-bars"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
<!--    &lt;!&ndash; Header Section End &ndash;&gt;-->

<!--    &lt;!&ndash; Hero Section Begin &ndash;&gt;-->
<!--    <section class="hero hero-normal">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3">-->
<!--                    <div class="hero__categories">-->
<!--                        <div class="hero__categories__all">-->
<!--                            <i class="fa fa-bars"></i>-->
<!--                            <span>Danh mục</span>-->
<!--                        </div>-->
<!--                        <ul>-->
<!--                            <li><a class="hvr-underline-from-left" href="#">ĐÀN GUITAR</a></li>-->
<!--                            <li><a class="" href="#">ĐÀN ORGAN</a></li>-->
<!--                            <li><a href="#">KÈN</a></li>-->
<!--                            <li><a href="#">ĐÀN PIANO</a></li>-->
<!--                            <li><a href="#">TRỐNG</a></li>-->
<!--                            <li><a href="#">HARMONICA</a></li>-->
<!--                            <li><a href="#">PHỤ KIỆN</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-9">-->
<!--                    <div class="hero__search">-->
<!--                        <div class="hero__search__form">-->
<!--                            <form action="#">-->
<!--                                &lt;!&ndash; <div class="hero__search__categories">-->
<!--                                    All Categories-->
<!--                                    <span class="arrow_carrot-down"></span>-->
<!--                                </div> &ndash;&gt;-->
<!--                                <input type="text" placeholder="Nhập sản phẩm bạn cần tìm">-->
<!--                                <button type="submit" class="site-btn">TÌM KIẾM</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="hero__search__phone">-->
<!--                            <div class="hero__search__phone__icon">-->
<!--                                <i class="fa fa-phone"></i>-->
<!--                            </div>-->
<!--                            <div class="hero__search__phone__text">-->
<!--                                <h5>0342455466</h5>-->
<!--                                <span>hỗ trợ 24/7</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; Hero Section End &ndash;&gt;-->
<!--    -->
<!--</body>-->
<!--</html>-->