<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/login/css/main.css}">
</head>
<body>
	<div class="container" id="container">
      <div class="form-container sign-up-container">
        <form             
        	th:action="@{/sign-up}"
            th:object="${accountCreateDto}"
            method="post">
          <h1>Create Account</h1>
          <div class="social-container">
          </div>
          <input type="text" th:field="*{fullName}" placeholder="Fullname" />
          <input type="text" th:field="*{userName}" placeholder="Username" />
          <input type="email" th:field="*{email}" placeholder="Email" />
          <input type="password" th:field="*{password}" placeholder="Password" />
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form class="frm-login" action="/j_spring_security_check" method="post">
          <h1>Sign in</h1>
          <div class="social-container">
          	<p th:if="${param.error}" style="color:red; margin:0px">authenticated failed !!!</p>
          </div>
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
	
<!--===============================================================================================-->
	<script th:src="@{/assets/login/js/main.js}"></script>

</body>
</html>